*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #F1F3FC;
    font-family:sans-serif;
   
}
.bigContainer{
    width: 100%;
   
    
}
.container{
    width: 35%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
    background-color:white;
    border-radius:20px; 
    height: 500px;  
}
a{
    text-decoration: none;
    color: red !important;
}
input::placeholder{
    padding-left:20px;
}
.phonee input{
    border: 1px solid #246DFF;
}
.ccontainer{
    width: 35%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
    background-color:white;
    border-radius:20px; 
    height: 600px; 

}
.myspan{
    color: red;
    font-weight: bolder;
}
form{
    padding-top:10%;
    padding-bottom:30px;
   
}
input{
    width: 70%;
    height: 40px;
    border: none;
}
.uptext > p{
    color: #050D1E;
    margin-bottom: 5%;
    opacity: 45%;
} 
.uptext img{
    width: 6%;
    height: 30px;
    border-radius: 100%;
    z-index: 100;
    border-top: 3px solid #246DFF;
    transform: translateY(-70px)
}
.uptext > h3{
    margin-bottom: 8%;
    color: #246DFF;
}
.fields .inputs{
    width: 35%;
}
.inputs input{
    width: 95%;
    border: none;
    border-radius:4px;
}
.fields{
    display: flex;
    margin-left: auto;
    justify-content: center;
}
input[type="submit"]{
    background-color: #0055FF;
    color: white;;
}
input[type="text"]{
    border: 1px solid #246DFF;
}
.myInputs,
input[type="email"],
input[type="password"]{
    background-color: rgba(128, 128, 128, 0.307);
}
.myspan{
    color: red;
}
.check{
    border: 2px solid black;
    width: 20px;
    margin-right: 7px;
   
}
.rememberr{
    transform: translateX(80px);
    display: flex;
    justify-content: space-around;
}
.uptext{
    margin-bottom: 10px;
}
.row{
    margin-top:20px;
    width: 100%;
}
.account >span{
    color: red;
}
.account{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    font: 0.7em sans-serif;
}
.cheking{
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 0.8em;
}